
/*cabeçalho*/


/*
/*imagem de fundo*/


 /*ícone SAIBA MAIS*/




/*Assinatura do site*/



/*inicio da pagina 2*/
  
 /*inicio da pagina 3*/
 .medicamentos {
    background: url('img/108-Princípios-gerais-e-objetivos-da-Estratégia-de-Saúde-da-Família-ESF (2).png');
    width: 3000px;
    size: 300px;
    opacity: 0.3;
 }




 .prontuario {
    background-image: url('img/108-Princípios-gerais-e-objetivos-da-Estratégia-de-Saúde-da-Família-ESF (2).png');
 }

 .prescricoes {
     background-image: url('img/pngtree-health-logo-vector-png-image_5183004 (2).jpg');
     opacity: 0.8;
     
}


  





